@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url("about:newtab") {

#newtab-customize-button {display: none !important;}
#newtab-search-container {display: none !important;}

#newtab-scrollbox:not([page-disabled]) {
    background-color: #B6B6B6;
    color: rgb(0, 0, 0);
}

#newtab-grid{
    max-width: 1200px !important;
    max-height: 540px !important;
    margin-top: 20px;
}

#newtab-grid > .newtab-cell{
    width: 250px;
    height: 155px;
    margin: 10px 10px;
}

.newtab-cell,.newtab-link,.newtab-thumbnail {
    border-radius: 0.5em;
}

.newtab-site {
  box-shadow: none !important;
  border:none !important;
}
    
.newtab-cell:not([ignorehover]) .newtab-control:hover ~ .newtab-link,
.newtab-cell:not([ignorehover]) .newtab-link:hover,
.newtab-site[dragged] {
  box-shadow: none !important;
  border:none !important;
  margin: -2px;
}

#newtab-intro-what, .newtab-sponsored, .newtab-title {color: #E6E6E6;}

.newtab-title {
    background-color: rgba(25, 25, 25, 0.55) !important;
    color:white!important;
    text-align:left !important;
    line-height:25px!important;
    padding:0px 10px!important;
}
.newtab-title:before {
    display:none!important;
}

.newtab-thumbnail {
  height: auto;
}
    
}
